$styles: (
        none,
        block,
        inline-block,
        flex,
        inline-flex,
        grid
);

@each $display in $styles {
  .d-#{$display} {
    display: $display;
  }

  @include eachBreakpoint() using($breakpoint, $px) {
    @include media-breakpoint-up($breakpoint) {
      .d-#{$breakpoint}-#{$display} {
        display: $display;
      }
    }
  }
}