@import "../colors";
@import "../layout/breakpoints";

@mixin alert() {
  position: relative;
  padding: .65rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: .75rem;
  width: 100%;
}


@include eachColor() using($name, $color) {
  .alert-#{$name} {
    @include alert();
    border: 2px solid $color;
    color: $color;
    background-color: transparentize($color, .75);

    i, a, p, span, h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }

    .alert-close {
      fill: $color;
    }
  }
}

.alert-close {
  margin-left: auto;
  height: 14px;

  &:hover {
    cursor: pointer;
  }
}

@include media-breakpoint-up(md) {
  html .alert-close {
    height: 10px;
  }
}