@import "../colors";
@import "../font";

$radius: 5px;

.tabs {
  max-width: 50%;
  margin: 3rem auto;

  .tab-wrapper {
    display: flex;
    flex-direction: row;

    .tab {
      padding: .5rem 1.5rem;
      text-align: center;
      background-color: #FFF;

      &::selection {
        background-color: transparent;
      }

      &:first-child {
        border-top-left-radius: $radius;
      }

      &:last-child {
        border-top-right-radius: $radius;
      }

      &:not([data-tab-active]) {
        background-color: #EEE;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tab-panel {
    height: 0;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 0 $radius $radius $radius;
    @extend .fc-gray-dark;

    &[data-tab-active] {
      height: 100%;
    }

    .tab-content {
      padding: 1rem;
    }
  }
}