@import "../colors";
@import "../font";

$radius: 5px;

.tabs {

  .tab-wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid #FFF;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    overflow: hidden;

    .tab {
      width: 100%;
      padding: .5rem 1.5rem;
      text-align: center;
      background-color: #FFF;

      &::selection {
        background-color: transparent;
      }

      &:not([data-tab-active]) {
        background-color: #EEE;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tab-panel {
    height: 0;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 0 0 $radius $radius;
    @extend .fc-gray-dark;

    &[data-tab-active] {
      height: 100%;
    }

    .tab-content {
      padding: 1rem;
    }
  }
}