@import "../layout/breakpoints";
@import "../colors";

.toast_wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 65vw;

  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.toast {
  @extend .bg-white-darker;
  position: relative;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0 0 0 / 25%), 0 0 25px rgba(0 0 0 / 10%);
  padding: .75rem;

  display: flex;
  flex-direction: column;
  row-gap: .35rem;
}

@include media-breakpoint-up(md) {
  html .toast_wrapper {
    width: 250px;
  }
}

@include media-breakpoint-up(lg) {
  html body .toast_wrapper {
    width: 450px;
  }
}